body {
    font-family: Arial, sans-serif;
    background-image: url('../img/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0 auto;
    overflow: auto;
    color: #ffffff;
}

h1 {
     text-align: center;
     display: block;
     color: #333;
}


form {
    max-width: 300px;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.7); /* прозрачный белый фон формы */
    padding: 100px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#profileInfo {
    margin-bottom: 20px;
}

div {
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
    color: #333;
}

label {
    display: block;
    font-weight: bold;
    color: #333; /* цвет текста метки */
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    border: none;
    background-color: #ae0001;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
